<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Project</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container" onclick="">
    <div class="row clearfix" *ngIf="building">
            <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let item of building">
                <div class="boxs project_widget">
                     <div class="pw_img">
                        <img class="img-responsive" src="assets\pictures\{{item.image_url}}" alt="About the image">
                    </div>
                    <div class="pw_content">
                        <div class="pw_header">
                            <h6>{{item.type}}, {{item.rooms}} camere, et {{item.floor}}</h6>
                            <small class="text-muted">{{item.type}}  |  Last Update: {{item.date}}</small>
                        </div>
                        <div class="pw_meta">
                            <span>{{item.price}} EUR</span>
                            <small class="text-muted">{{item.country}}, {{item.city}} {{item.region}} </small>
                            <small class="text-muted">{{item.region}} </small>
                            <button (click)="getBuildingById(item.id)" routerLink="/test">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>