<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Project</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div style="text-align:center">
        <h1>Welcome {{ username }}!</h1>
        <nav>
          <a routerLink="/dashboard">Add Filetrs&emsp;</a>  
          <a routerLink="/dashboard">Dashboard&emsp;</a>
          <a routerLink="/dashboard">Saved Posts/Filetrs&emsp;</a>
          <a routerLink="/dashboard/myposts">My Posts&emsp;</a>
          <a routerLink="/dashboard">Notification&emsp;</a>
          <a routerLink="/dashboard/add">Add Building&emsp;</a>
          <a routerLink="/dashboard/buildings">All Buildings&emsp;</a>
          <a routerLink="/dashboard/allposts">All Posts&emsp;</a>
          <!-- <a routerLink="/login">Login&emsp;</a> -->
          <a (click)="logout()">Logout&emsp;</a>
        </nav>
        <router-outlet></router-outlet>
      </div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>